.footer-btns{
    display: flex;
    justify-content: space-evenly;
    /* justify-content: space-between;
    justify-content: space-around; */
    height: 15vh;
    align-items: center;
}

.footer-btns .MuiIconButton-root{
    padding: 10px;
    border-radius: 50%;
    font-weight: 700;
    box-shadow: 0px 10px 40px 0px rgb(0 0 0 / 25%);
}

.footer-btns .repeatbtn{
    color: #f5b748
}

.footer-btns .leftbtn{
    background-color: #f6d4da;
    color: #fb2d46
}
.footer-btns .starbtn{
    color: #62b4f9 
}
.footer-btns .rightbtn{
    background-color: #a9eca9;
    color: #18be76 
}
.footer-btns .lightningbtn{
    color: #915dd1 
}