#root{
    position: relative;
}
.match-modal-backdrop{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    padding: 10%;
    padding-top: 8%;
    background-color: rgba(199, 21, 133, 0.85)
}

.match-modal{
    position: relative;
    padding-top: 5%;
    text-align: center;
    color: white;
}

.MuiIconButton-root.cancle-btn{
    color: white;
    position: absolute;
    right: -25px;
    top: -22px;
}

.MuiTypography-root.match-title{
    font-size: 3rem;
    font-family: cursive;
    font-weight: 500;
    letter-spacing: 1px;
}

.MuiTypography-root.match-subtitle{
    font-size: 1.25rem;
}

.match-photos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 200px;
}

.chat-btn-container{
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiButton-root.chat-btn{
    background-color: var(--darker-bg-color);
    color: white;
    border-radius: 25px;
    width: 100%;
    padding: 5%;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-transform: capitalize;
    box-shadow: 0px 3px 6px -1px rgb(255 255 255 / 50%);
}

.MuiButton-root.chat-btn:hover{
    background-color: var(--darker-bg-color);
}